In [2]:
import os
os.listdir()

['.ipynb_checkpoints',
 'supermarkets-commas.txt',
 'supermarkets-semi-colons.txt',
 'supermarkets.csv',
 'supermarkets.json',
 'supermarkets.xlsx',
 'Untitled.ipynb']

In [3]:
import pandas

In [5]:
df1 = pandas.read_csv("supermarkets.csv")
df1

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [6]:
df2=pandas.read_json("supermarkets.json")
df2

,Address,City,Country,Employees,ID,Name,State
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [8]:
df3=pandas.read_excel("supermarkets.xlsx", sheet_name=0)
df3

,ID,Address,City,State,Country,Supermarket Name,Number of Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [9]:
df4=pandas.read_csv("supermarkets-commas.txt")
df4

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [27]:
df5=pandas.read_csv("supermarkets-semi-colons.txt", sep=";")
df5

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [5]:
df6=pandas.read_csv("http://pythonhow.com/supermarkets.csv")
df6

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [12]:
df6 = pandas.read_json("http://pythonhow.com/supermarkets.json")
df6

,Address,City,Country,Employees,ID,Name,State
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [13]:
df6=df6.set_index("Address")

In [14]:
df6.loc["735 Dolores St":"3995 23rd St", "Country":"ID"]

               Country  Employees  ID
Address
735 Dolores St     USA         15   2
332 Hill St        USA         25   3
3995 23rd St       USA         10   4

In [15]:
list(df6.loc[:,"Country"])

['USA', 'USA', 'USA', 'USA', 'USA', 'USA']

In [16]:
df6.iloc[1:3,1:3]

               Country  Employees
Address
735 Dolores St     USA         15
332 Hill St        USA         25

In [17]:
df6.ix[3,"Name"]

c:\users\igorj\appdata\local\programs\python\python36-32\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

"Ben's Shop"

In [18]:
df6.drop("City",1)

                Country  Employees  ID         Name             State
Address
3666 21st St        USA          8   1      Madeira          CA 94114
735 Dolores St      USA         15   2  Bready Shop          CA 94119
332 Hill St         USA         25   3  Super River  California 94114
3995 23rd St        USA         10   4   Ben's Shop          CA 94114
1056 Sanchez St     USA         12   5      Sanchez        California
551 Alvarado St     USA         20   6   Richvalley          CA 94114

In [19]:
df6.drop(df6.index[0:3],0)

                          City Country  Employees  ID        Name       State
Address
3995 23rd St     San Francisco     USA         10   4  Ben's Shop    CA 94114
1056 Sanchez St  San Francisco     USA         12   5     Sanchez  California
551 Alvarado St  San Francisco     USA         20   6  Richvalley    CA 94114

In [20]:
df6.columns

Index(['City', 'Country', 'Employees', 'ID', 'Name', 'State'], dtype='object')

In [25]:
df6["Continent"]=df6.shape[0]*["North America"]
df6

,City,Country,Employees,ID,Name,State,Continent
Address,,,,,,,
3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114,North America
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119,North America
332 Hill St,San Francisco,USA,25,3,Super River,California 94114,North America
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114,North America
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California,North America
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114,North America

In [28]:
dm=pandas.merge(left=df5, right=df6, on="ID")

In [29]:
dm

,ID,Address,City_x,State_x,Country_x,Name_x,Employees_x,City_y,Country_y,Employees_y,Name_y,State_y,Continent
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,San Francisco,USA,8,Madeira,CA 94114,North America
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,San Francisco,USA,15,Bready Shop,CA 94119,North America
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25,San Francisco,USA,25,Super River,California 94114,North America
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,San Francisco,USA,10,Ben's Shop,CA 94114,North America
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,San Francisco,USA,12,Sanchez,California,North America
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,San Francisco,USA,20,Richvalley,CA 94114,North America

In [31]:
from geopy.geocoders import Nominatim

In [32]:
nom=Nominatim(scheme="http")

In [34]:
n=nom.geocode("3995 23rd St, San Francisco, CA 94114")

In [37]:
n.latitude

37.7529648

In [39]:
import pandas
df=pandas.read_csv("supermarkets.csv")
df

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [40]:
df["Address"]=df["Address"]+", "+df["City"] + ", " + df["State"]+ ", " + df["Country"]
df

,ID,Address,City,State,Country,Name,Employees
0,1,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Madeira,8
1,2,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,CA 94119,USA,Bready Shop,15
2,3,"332 Hill St, San Francisco, California 94114, USA",San Francisco,California 94114,USA,Super River,25
3,4,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Ben's Shop,10
4,5,"1056 Sanchez St, San Francisco, California, USA",San Francisco,California,USA,Sanchez,12
5,6,"551 Alvarado St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Richvalley,20

In [41]:
df["Coordinates"]=df["Address"].apply(nom.geocode)
df

,ID,Address,City,State,Country,Name,Employees,Coordinates
0,1,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Madeira,8,"(3666, 21st Street, Noe Valley, SF, California..."
1,2,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,CA 94119,USA,Bready Shop,15,None
2,3,"332 Hill St, San Francisco, California 94114, USA",San Francisco,California 94114,USA,Super River,25,"(332, Hill Street, Noe Valley, SF, California,..."
3,4,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Ben's Shop,10,"(3995, 23rd Street, Noe Valley, SF, California..."
4,5,"1056 Sanchez St, San Francisco, California, USA",San Francisco,California,USA,Sanchez,12,"(1056, Sanchez Street, Noe Valley, SF, Califor..."
5,6,"551 Alvarado St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Richvalley,20,"(551, Alvarado Street, Noe Valley, SF, Califor..."

In [42]:
df.Coordinates[0]

Location(3666, 21st Street, Noe Valley, SF, California, 94114, United States of America, (37.756488877551, -122.429343346939, 0.0))

In [44]:
df["Latitude"]=df["Coordinates"].apply(lambda x: x.latitude if x != None else None)
df["Longitude"]=df["Coordinates"].apply(lambda x: x.longitude if x != None else None)
df

,ID,Address,City,State,Country,Name,Employees,Coordinates,Latitude,Longitude
0,1,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Madeira,8,"(3666, 21st Street, Noe Valley, SF, California...",37.756489,-122.429343
1,2,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,CA 94119,USA,Bready Shop,15,None,NaN,NaN
2,3,"332 Hill St, San Francisco, California 94114, USA",San Francisco,California 94114,USA,Super River,25,"(332, Hill Street, Noe Valley, SF, California,...",37.755725,-122.428601
3,4,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Ben's Shop,10,"(3995, 23rd Street, Noe Valley, SF, California...",37.752965,-122.431714
4,5,"1056 Sanchez St, San Francisco, California, USA",San Francisco,California,USA,Sanchez,12,"(1056, Sanchez Street, Noe Valley, SF, Califor...",37.752146,-122.429815
5,6,"551 Alvarado St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Richvalley,20,"(551, Alvarado Street, Noe Valley, SF, Califor...",37.753673,-122.433220